{# interface Configurations and Operations #}
{# funtion: configure interface #}
{# param: interface yaml object #}


hostname {{ net_hostname }}

{% for hostname, interfaces in net_interfaces.items() %}
hostname {{hostname}}

{% for interface, config in interfaces.items() %}
interface {{ interface }}
 description {{ config.description }}
 ip address {{ config.ipv4.address }}/{{ config.ipv4.masklen }}
{% endfor %}

{% endfor %}




