router ospf 1
 router-id {{ loopback_ip }}
 ispf
 auto-cost reference-bandwidth 10000
{% for ip in ospf_area_0 %}
 network {{ ip }} 0.0.0.3 area 0
{% endfor %}
 network {{ loopback_ip }} 0.0.0.0 area 0
